<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'logins/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="container">
        <header>
            <h1>Book Reviews</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{%url 'logins:index' %}">Home</a></li><!--
                --><li><a href="{%url 'logins:all_users' %}">All Users</a></li><!--
                --><li><a href="{%url 'logins:account' %}">Account</a></li><!--
                --><li><a href="{%url 'logins:logout' %}">Logout</a></li>
            </ul>
        </nav>
        <main>
            <h2>This is a placeholder index page</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales facilisis risus ut ultricies. Ut eget orci eu lorem suscipit eleifend. Quisque sollicitudin congue laoreet. Donec eleifend lacus id risus ultricies lobortis. Morbi tempor blandit luctus. Donec ut semper nisl. Donec ullamcorper metus a nisl suscipit consequat. Nulla non ultrices tortor.
            </p>
            <p>
                Vestibulum id diam est. Mauris sit amet dui ac nisi vulputate vulputate. Quisque urna nulla, condimentum fermentum est non, volutpat sagittis magna. Morbi rhoncus, mi ut efficitur varius, est metus sodales magna, in eleifend mauris purus et odio. Vivamus lobortis elit ultrices nibh pretium facilisis. Fusce quis ipsum lacus. Mauris felis ligula, tempor vel aliquam ut, viverra eu ipsum. Nulla tempus tortor turpis, a convallis enim porttitor lacinia. Nullam ultricies diam a erat rhoncus semper ut venenatis nisl. Nulla vitae fermentum justo. Morbi accumsan libero scelerisque ultrices interdum. Maecenas est velit, lobortis iaculis sem et, convallis tristique lorem. Vivamus luctus nulla ac sem laoreet, ac rutrum dui convallis. Sed rutrum tempus iaculis. Quisque et rhoncus turpis, quis lacinia eros. Proin felis nunc, porttitor vitae justo vel, viverra laoreet orci.
            </p>
            <p>
                Vestibulum id diam est. Mauris sit amet dui ac nisi vulputate vulputate. Quisque urna nulla, condimentum fermentum est non, volutpat sagittis magna. Morbi rhoncus, mi ut efficitur varius, est metus sodales magna, in eleifend mauris purus et odio. Vivamus lobortis elit ultrices nibh pretium facilisis. Fusce quis ipsum lacus. Mauris felis ligula, tempor vel aliquam ut, viverra eu ipsum. Nulla tempus tortor turpis, a convallis enim porttitor lacinia. Nullam ultricies diam a erat rhoncus semper ut venenatis nisl. Nulla vitae fermentum justo. Morbi accumsan libero scelerisque ultrices interdum. Maecenas est velit, lobortis iaculis sem et, convallis tristique lorem. Vivamus luctus nulla ac sem laoreet, ac rutrum dui convallis. Sed rutrum tempus iaculis. Quisque et rhoncus turpis, quis lacinia eros. Proin felis nunc, porttitor vitae justo vel, viverra laoreet orci.
            </p>
            <p>
                Vestibulum id diam est. Mauris sit amet dui ac nisi vulputate vulputate. Quisque urna nulla, condimentum fermentum est non, volutpat sagittis magna. Morbi rhoncus, mi ut efficitur varius, est metus sodales magna, in eleifend mauris purus et odio. Vivamus lobortis elit ultrices nibh pretium facilisis. Fusce quis ipsum lacus. Mauris felis ligula, tempor vel aliquam ut, viverra eu ipsum. Nulla tempus tortor turpis, a convallis enim porttitor lacinia. Nullam ultricies diam a erat rhoncus semper ut venenatis nisl. Nulla vitae fermentum justo. Morbi accumsan libero scelerisque ultrices interdum. Maecenas est velit, lobortis iaculis sem et, convallis tristique lorem. Vivamus luctus nulla ac sem laoreet, ac rutrum dui convallis. Sed rutrum tempus iaculis. Quisque et rhoncus turpis, quis lacinia eros. Proin felis nunc, porttitor vitae justo vel, viverra laoreet orci.
            </p>
            <p>
                Vestibulum id diam est. Mauris sit amet dui ac nisi vulputate vulputate. Quisque urna nulla, condimentum fermentum est non, volutpat sagittis magna. Morbi rhoncus, mi ut efficitur varius, est metus sodales magna, in eleifend mauris purus et odio. Vivamus lobortis elit ultrices nibh pretium facilisis. Fusce quis ipsum lacus. Mauris felis ligula, tempor vel aliquam ut, viverra eu ipsum. Nulla tempus tortor turpis, a convallis enim porttitor lacinia. Nullam ultricies diam a erat rhoncus semper ut venenatis nisl. Nulla vitae fermentum justo. Morbi accumsan libero scelerisque ultrices interdum. Maecenas est velit, lobortis iaculis sem et, convallis tristique lorem. Vivamus luctus nulla ac sem laoreet, ac rutrum dui convallis. Sed rutrum tempus iaculis. Quisque et rhoncus turpis, quis lacinia eros. Proin felis nunc, porttitor vitae justo vel, viverra laoreet orci.
            </p>
        </main>
        <footer>
            placeholder footer © 2018
        </footer>
    </div>
</body>
</html>