<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'logins/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="container">
        <header>
            <h1>Book Reviews</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{%url 'logins:index' %}">Home</a></li><!--
                --><li><a href="{%url 'book_rev:add' %}">Add Review</a></li><!--
                --><li><a href="{%url 'book_rev:show_user' id=request.session.current_user %}">Account</a></li><!--
                --><li><a href="{%url 'logins:logout' %}">Logout</a></li>
            </ul>
        </nav>
        <main>
            {% if reviews %}
                <h2>Recent Reviews:</h2>
                {% for review in reviews %}
                    <div class="review">
                        <h3><a href="{%url 'book_rev:show' id=review.book.id %}">{{ review.book.name }}</a>: {{ review.book.author }}</h3>
                        <p>{{ review.rating }}</p>
                        <p><a href="{%url 'book_rev:show_user' id=review.user.id %}">{{ review.user.first_name }}</a>: {{ review.desc }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Sorry, there are no reviews found at this time.</h2>
            {% endif %}

            <div class="books">
                <h3>Books with reviews:</h3>
                {% for book in books %}
                    <p><a href="{% url 'book_rev:show' id=book.id %}">{{ book.name }}: {{ book.author }}</a></p>
                {% endfor %}
            </div>
        </main>
        <footer>
            placeholder footer © 2018
        </footer>
    </div>
</body>
</html>