<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'logins/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="container">
        <header>
            <img src="{% static 'book_rev/images/books.jpeg' %}">
            <h1>Book Reviews</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{%url 'logins:index' %}">Home</a></li><!--
                --><li><a href="{%url 'book_rev:add' %}">Add Review</a></li><!--
                --><li><a href="{%url 'book_rev:show_user' id=request.session.current_user %}">Account</a></li><!--
                --><li><a href="{%url 'logins:logout' %}">Logout</a></li>
            </ul>
        </nav>
        <main>
            {% if user %}
                <p>User's Name: {{ user.first_name }} {{ user.last_name }}</p>
                <p>User's Email: {{ user.email }}</p>


                <div class="review">
                    Reviews:
                    {% for review in reviews %}
                        <h3><a href="{%url 'book_rev:show' id=review.book.id %}">{{ review.book.name }}</a></h3>
                        <p>{{ review.desc }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </main>
        <footer>
            placeholder footer © 2018
        </footer>
    </div>
</body>
</html>