<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'logins/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="container">
        <header>
            <h1>Logins & Registration</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{%url 'logins:index' %}">Home</a></li><!--
                --><li><a href="{%url 'logins:all_users' %}">All Users</a></li><!--
                --><li><a href="{%url 'logins:account' %}">Account</a></li><!--
                --><li><a href="{%url 'logins:logout' %}">Logout</a></li>
            </ul>
        </nav>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.created_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <footer>
            placeholder footer © 2018
        </footer>
    </div>
</body>
</html>